<h1><a href="https://laiyiohlsen.com" class="site-title-link">.𖥔 ݁ ˖   ✦    ‧₊˚ ⋅ Lai Yi Ohlsen </a></h1>
<nav>
 <a href="https://laiyiohlsen.com/resume">Resume</a> ⟡
<a href="https://laiyiohlsen.com/teaching">Teaching</a> ⟡
<a href="https://laiyiohlsen.com/creative">Creative</a> ⟡
<a href="https://laiyiohlsen.com/writing">Writing</a> ⟡
<a href="https://laiyiohlsen.com/talks">Talks</a> ⟡
<a href="/" class="active-nav">Blog </a> ⟡
<a href="https://laiyiohlsen.com/contact">Contact</a> ⟡
</nav>  
